.FormRegisterEsal {

  header {
    color: #7e254e;
    font-weight: bold;
    font-size: 20px;
  }

  .Label {
    color: #7e254e;
    font-size: 20px;
    font-weight: bold;

  }

  .row {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;


    .col {
      width: calc(50% - 10px);

      .register-government {
        margin-top: 2rem;
      }
    }

    .localization {
      margin-top: 1rem;

      .form-radio {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;


      }


    }

    .organization {
      margin-top: 1rem;

      .form-organization {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        grid-column-gap: 2rem;
        width: max-content;

      }
    }

    .image-upload {
      border: solid 0.05px #7e254e;
      border-radius: 4rem;
      margin: 0.5rem 1rem;
      text-align: center;
      cursor: pointer;

      img {
        width: 400px;
        height: 400px;
        cursor: pointer;


      }

      .file {
        display: none;
      }
    }

    .postal-code {
      align-self: center;
    }

  }

}

