.ConvocatoryDetails {
  display: grid;
  grid-template-columns: 25% 65%;
  gap: 5%;
  padding: 3rem;
  margin: 5%;
  background-color: #f2f2f2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  .Panel {
    display: grid;
  }

  img {
    width: 90%;
    margin-bottom: 10%;
  }

  .MenuItem {
    cursor: pointer;
    display: grid;
    grid-template-columns: 6% 72% 3%;
    min-height: 2rem;
    gap: 1.5rem;
    margin: 1rem 0px;
    align-items: center;
    .Selected {
      background-color: #eabd00;
      max-width: 7px;
      height: 100%;
    }
  }

  .Panel {
    display: flex;
    flex-direction: column;

    .MenuInfoContainer {
      margin: 4rem 0rem;
      //width: 100%;
      min-height: 30rem;
      background-color: white;
      border-radius: 1rem;
    }
    .Tag {
      background-color: #7e254e;
      padding: 0.5rem;
      border-radius: 0.3rem;
      font-size: 0.8rem;
      color: #f2f2f2;
    }
    .IconGrid {
      margin-top: 1.2rem;
      display: grid;
      grid-template-columns: 3% 72%;
      gap: 1.6rem;
      color: #545454;
      height: 1.4rem;
      .Icon-calendar {
        background: url('assets/Calendar.svg') no-repeat center;
      }
      .Icon-organization {
        background: url('assets/Organization.svg') no-repeat center;
      }
      .Icon-location {
        background: url('assets/Location.svg') no-repeat center;
      }
    }
  }
}
