.main-div {
  border-radius: 2px;

  div {
    margin: 15px 15px 15px 15px;

    h3 {
      margin-top: 80px;
    }

  }

  header {
    background: #eabd00;
    border-radius: 2px;
    height: 10rem;

    label {
      img {
        position: absolute;
        margin: 75px 40px 65px 40px;
      }

      div {
        position: absolute;
        margin: 11% 0% 0% 3.6%;
        font-size: 21px;
        font-weight: bold;
        color: #7e254e;
        //-webkit-text-stroke: 0.5px white;
        opacity: 0;

        &:hover {
          opacity: 0.85;
          transition: opacity 0.5s;
        }
      }

      input {
        display: none;
      }
    }
  }

  .cv-div-class {
    display: flex;
  }

  hr {
    padding: 1px;
    background: #7e254e;
    border-radius: 2px;
    margin-top: 80px;
  }

  .cv-button {
    padding: 2px;
    display: inline-block;
    padding: 10px 60px;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 5px;
    min-height: 20px;
    max-width: 300px;
    color: white;
    background: #7e254e;

    &:hover {
      opacity: 0.8;
    }

    input {
      display: none;
    }

    &.uploaded {
      background: #eabd00;
    }
  }
}
