%divConfiguration {
  border-radius: 1rem;
  width: calc(90% - 22px);
  padding: 2rem;
  margin: 2rem;
  background: white;
}

.main-div {
  padding: 0.5rem 1rem;


  .personal-data {
    @extend %divConfiguration;

    header {
      background: #eabd00;
      border-radius: 2px;
      height: 10rem;


      label {
        img {
          position: absolute;
          margin: 75px 40px 65px 40px;
        }

        input {
          display: none;
        }
      }
    }

    section {
      margin-top: 5rem;
    }
  }

  .location-data {
    @extend %divConfiguration;

  }

  .additional-data {
    @extend %divConfiguration;

    .additional-data-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;


      .additional-data-first-col {
        width: calc(50% - 10px);
      }

      .additional-data-second-col {
        width: calc(50% - 10px);

        .TextAreaForm {
          .Label {
            margin-bottom: 0;
          }
        }

      }

    }

  }

  .cv-div-class {
    display: flex;
  }


  .cv-button {
    display: inline-block;
    padding: 10px 60px;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 5px;
    min-height: 20px;
    max-width: 300px;
    color: white;
    background: #7e254e;

    &:hover {
      opacity: 0.8;
    }

    input {
      display: none;
    }

    &.uploaded {
      background: #eabd00;
    }
  }
}
