@mixin displayRes() {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.ConvocatoryRegister {
  padding: 0.5rem 1rem;

  .ContainerForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
    align-items: center;
    padding: 0.5rem 1rem;


    .FieldForm {
      width: calc(50% - 10px);
    }

    .first-date-address {
      display: flex;
      column-gap: 1rem;
      width: calc(100% - 22px);

      .FormSelect, .FieldForm {
        width: calc(25% - 5px);

      }
    }

    .second-date-address {
      display: flex;
      column-gap: 1rem;;
      width: calc(100% - 22px);

      .FormSelect {
        width: calc(25% - 5px);

      }

      .FieldForm {
        width: calc(50% - 5px);

      }

      .ages, .dates {
        display: flex;
        align-items: center;
        flex-direction: row;
        column-gap: 1rem;
        width: calc(50% - 5px);


      }
    }

    .description-logo {
      display: flex;
      justify-content: space-around;
      column-gap: 1rem;;
      width: calc(100% - 22px);

      .TextAreaForm {
        width: calc(50% - 10px);

      }

      .image-upload {
        border: solid 0.05px #7e254e;
        border-radius: 4rem;
        margin: 0.5rem 1rem;
        text-align: center;
        cursor: pointer;

        img {
          width: 400px;
          height: 400px;
          cursor: pointer;


        }

        .file {
          display: none;
        }
      }
    }

    .fourst-row {
      display: flex;
      justify-content: space-around;
      width: calc(100% - 22px);

      .FormSelect, .FieldForm {
        width: calc(20% - 15px);
        input{
          width: fit-content;
        }

      }
    }

    span {
      margin: 20px 15px 0;
    }
  }
}

@media (min-width: 992px) {
  .ConvocatoryRegister {
    .ages {
      justify-content: flex-start;

      .FormSelect {
        margin-right: 15px;
        width: initial;
      }
    }

    .dates {
      justify-content: flex-start;

      .FieldForm {
        margin-right: 15px;
        width: initial;
      }
    }
  }
}
