@mixin displayRes() {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.ConvocatoryRegister {
  padding: 0.5rem 1rem;

  .ContainerForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
    align-items: center;
    padding: 0.5rem 1rem;
    background: white;
    border-radius: 0.8rem;


    .Label {
      color: #7e254e;
      font-weight: 500;
      font-size: 20px;
    }


    .data-esal {
      display: flex;
      column-gap: 1rem;
      width: calc(100% - 22px);
      padding: 0.5rem 1rem;


      .FieldForm {
        width: calc(50% - 10px);
      }
    }

    .first-date-address {
      display: flex;
      width: calc(100% - 22px);
      justify-content: space-around;
      padding: 0.5rem 1rem;


      .FormSelect, .FieldForm {
        width: calc(20% - 5px);

        .InputFieldForm {
          padding: 5px;
        }

      }


    }

    .second-date-address {
      display: flex;
      width: calc(100% - 22px);
      justify-content: space-around;
      padding: 0.5rem 1rem;


      .FormSelect {
        width: calc(20% - 5px);

      }

      .FieldForm {
        width: calc(40% - 5px);

        .InputFieldForm {
          padding: 5px;
        }
      }

      .dates {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: calc(50% - 5px);

        .FormSelect {
          width: calc(15% - 5px);

        }

        .FieldForm {
          width: calc(30% - 5px);

        }

      }
    }

    .description-logo {
      display: flex;
      justify-content: space-around;
      width: calc(100% - 22px);
      padding: 0.5rem 1rem;


      .TextAreaForm {
        width: calc(50% - 10px);

      }

      .image-upload {
        border: solid 0.05px #7e254e;
        border-radius: 4rem;
        margin: 0.5rem 1rem;
        text-align: center;
        cursor: pointer;

        img {
          width: 400px;
          height: 400px;
          cursor: pointer;


        }

        .file {
          display: none;
        }
      }
    }

    .fourth-row {
      display: flex;
      justify-content: space-around;
      width: calc(100% - 22px);
      padding: 0.5rem 1rem;


      .FormSelect, .FieldForm {
        width: calc(20% - 15px);

        input {
          width: fit-content;
        }

      }
    }

    .activities {
      display: flex;
      flex-direction: column;
      width: calc(100% - 22px);
      padding: 0.5rem 1rem;


      .activities-form {
        display: flex;
        justify-content: space-around;

        .Label {
          color: black;
          font-size: 15px;
          font-weight: inherit;
        }

        .FieldForm {
          width: calc(100% - 22px);

          .InputFieldForm {
            padding: 5px;
          }

        }

      }


    }

    .fifth-row {
      display: flex;
      column-gap: 1rem;
      width: calc(100% - 22px);
      padding: 0.5rem 1rem;


      .types-skills {
        width: calc(50% - 10px);

        .form-organization {
          display: grid;
          grid-template-columns: auto auto auto;
          grid-template-rows: auto auto auto auto;
          grid-column-gap: 2rem;
          width: max-content;
          margin-top: 1rem;


        }
      }

      .requirement-display {
        width: calc(40% - 10px);

        .RequirementsFormList {
          margin-top: 1rem;

        }
      }
    }

    .sixth-row {
      display: flex;
      column-gap: 2rem;
      width: calc(100% - 22px);
      padding: 0.5rem 1rem;

      .TextAreaForm {
        width: calc(35% - 12px);

      }
    }

    span {
      margin: 20px 15px 0;
    }
  }

  .SubmitButton {
    background: #7e254e;
  }
}

@media (min-width: 992px) {
  .ConvocatoryRegister {

    .dates {
      justify-content: flex-start;

      .FieldForm {
        margin-right: 15px;
        width: initial;
      }
    }
  }
}
