@mixin displayRes() {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.ConvocatoryRegister {
  padding: 10px;
  margin: 5%;

  .ContainerForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1rem;
    align-items: center;
    padding: 0.5rem 1rem;


    .FieldForm {
      width: calc(50% - 10px);
    }

    .first-date-address {
      display: flex;
      column-gap: 1rem;
      width: calc(100% - 22px);

      .FormSelect, .FieldForm {
        width: calc(25% - 5px);

      }
    }

    .second-date-address {
      display: flex;
      column-gap: 1rem;;
      width: calc(100% - 22px);

      .FormSelect {
        width: calc(25% - 5px);

      }

      .FieldForm {
        width: calc(50% - 5px);

      }

      .ages, .dates {
        display: flex;
        align-items: center;
        flex-direction: row;
        column-gap: 1rem;
        width: calc(50% - 5px);


      }
    }


    span {
      margin: 20px 15px 0;
    }
  }
}

@media (min-width: 992px) {
  .ConvocatoryRegister {
    .ages {
      justify-content: flex-start;

      .FormSelect {
        margin-right: 15px;
        width: initial;
      }
    }

    .dates {
      justify-content: flex-start;

      .FieldForm {
        margin-right: 15px;
        width: initial;
      }
    }
  }
}
