$purple-tone: #7e254e;

div {
  .main-div{
    padding: 0 15rem;
    text-align: left;
  }
  
  .info-div {
    .title {
      text-align: center;
      color: $purple-tone;
      font-size: 1.5rem;
    }
    div {
      font-size: 1rem;
      li {
        margin-top: 2%;
        margin-bottom: 2rem;
      }
    }

    .faq {
      color: black;
      text-align: center;
      margin: 24px 0px 16px;
      .LinkText {
        color: #eabd00;
        text-decoration: none;
        font-weight: normal;
        &:hover{
          color: $purple-tone
        }
      }
      
    }

    .slogan {
      text-align: center;
      color: $purple-tone;
      font-size: 35px;
    }
  }

  .contact-form-div {
    color: black;
    .form-fields-div {
      .fields {
        display: grid;
        // grid-template-columns: repeat(2, 25em);
        // grid-gap: 5%;
        resize: vertical;
        input{
          border: 1px solid $purple-tone
        }
      }
      
      .text-area {
        margin-top: 5%;
        textarea{
          border: 1px solid $purple-tone
        }
      }

      .consent-captcha {
        color: black;
        display: flex;
        flex-direction: row;
        gap: 20%;
      }

      button {
        margin: 5% 0% 5% 0%;
      }
    }
  }
  ul{
    list-style-type: none;
  }
}
