.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px 0;
}

@media (min-width: 576px) {
  .Home {
    padding: 0;
  }
}

@media (min-width: 992px) {
  .Home {
    padding: 0;
    background-size: 45%;
  }
}

