.Header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  img {
    width: 50vw;
  }
}

@media (min-width: 768px) {
  .Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 0;
    img {
      width: 200px;
    }
  }
}
