.NavBar {
  background: #7E254E;
  a {
    margin: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;

    &:hover {
      color: #eabd00;
      border-bottom: 2px solid #eabd00;
    }
  }
}
