.NavBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #7E254E;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;

  //Modal
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0.9;
  position: fixed;


  a {
    margin: 20px 0;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;

    &:hover {
      color: #eabd00;
      border-bottom: 2px solid #eabd00;
    }
  }
}

@media (min-width: 768px) {
  .NavBar {
    padding: initial;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    background: none;
    height: inherit;

    top: inherit;
    left: inherit;
    position: inherit;

    a {
      margin-right: 10px;
    }
  }
}
