.CookiesPolicy {
  padding: 0 4rem;
  text-align:left;
  h2 {
    font-size: 1.4rem;
    color: #ad2d68;
    font-weight: 700;
  }
  h3 {
    color: #eabd00;
    font-weight: normal;
  }
  .LinkText {
    color: #e34d92;
    text-decoration: none;
  }
  .firstRow {
    display: flex;
    align-items: flex-start;
    background-color: #7e254e;
    color: white;
    padding: 1.5rem;
    border-radius: 0.8rem;
    font-size: 0.9rem;
    svg {
      width: 15rem;
      margin-right: 2rem;
      min-width: 5rem;
    }
  }
  .otherRows {
    margin-top: 2rem;
    line-height: 160%;
    background-color: white;
    color: #7e7e7e;
    padding: 1rem;
    border-radius: 0.8rem;
    font-size: 0.8rem;
    font-weight: 500;
    ul{
      padding-left: 1rem;
    }
  }
}

@media (max-width: 600px){
  .CookiesPolicy{
    padding: 0 0.5rem 0 0.5rem;
  }
}