.ConvocatoryRegister {
  .dates {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .ages {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  h3 {
    margin: 10px 0 0;
    padding: 0;
  }

  span {
    margin: 20px 15px 0;
  }
}
