@mixin displayRes() {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.ConvocatoryRegister {
  padding: 10px;

  .ages {
    @include displayRes;

    .FormSelect {
      width: 49%;
    }
  }

  .dates {
    @include displayRes;

    .FieldForm {
      width: 49%;
    }
  }

  h3 {
    margin: 10px 0 0;
    padding: 0;
  }

  span {
    margin: 20px 15px 0;
  }
}

@media (min-width: 992px) {
  .ConvocatoryRegister {
    .ages {
      justify-content: flex-start;

      .FormSelect {
        margin-right: 15px;
        width: initial;
      }
    }

    .dates {
      justify-content: flex-start;

      .FieldForm {
        margin-right: 15px;
        width: initial;
      }
    }
  }
}


