.LegalAdvice {
  padding: 0 6rem;
  text-align: justify;
  h2 {
    font-size: 1.4rem;
    color: #ad2d68;
    font-weight: 700;
  }
  h3 {
    color: #eabd00;
  }

  .LinkText {
    color: #e34d92;
    text-decoration: none;
  }
  .firstRow {
    display: flex;
    align-items: center;
    background-color: #7e254e;
    color: white;
    padding: 1.5rem;
    border-radius: 0.8rem;
    font-size: 0.9rem;
    svg {
      width: 15rem;
      margin-right: 2rem;
      min-width: 5rem;
    }
  }
  .otherRows {
    margin-top: 2rem;
    line-height: 160%;
    background-color: white;
    color: #7e7e7e;
    padding: 1.5rem;
    border-radius: 0.8rem;
    font-size: 0.8rem;
    font-weight: 500;
    .two-column-div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      line-height: 160%;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    .column-border {
      border-right: 2px solid #7e254e;
    }
  }
}
