.LegalAdvice {
  padding: 0 4rem;
  text-align:left;
  h2 {
    font-size: 1.4rem;
    color: #ad2d68;
    font-weight: 700;
  }
  h3 {
    color: #eabd00;
    font-weight: normal;
    font-size: 1rem;
  }
  div{
    padding: 0.2rem;
  }
  .LinkText {
    color: #e34d92;
    text-decoration: none;
  }
  .firstRow {
    display: flex;
    align-items: center;
    background-color: #7e254e;
    color: white;
    padding: 1.5rem;
    border-radius: 0.8rem;
    font-size: 0.9rem;
    svg {
      width: 15rem;
      margin-right: 2rem;
      min-width: 5rem;
    }
  }
  
  .otherRows {
    margin-top: 2rem;
    line-height: 160%;
    background-color: white;
    color: #7e7e7e;
    padding: 1.5rem;
    border-radius: 0.8rem;
    font-size: 0.8rem;
    font-weight: 500;
  }

  .twoColumnDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 160%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    h3{
      font-size:1.5rem;
    }
    .columnBorder {
      border-left: 1px solid #7e254e;
      margin: 0 2rem 0 2rem;
    }
  }

}

@media (max-width: 600px){
  .LegalAdvice{
    padding: 0 0.5rem 0 0.5rem;
    .twoColumnDiv{
      display:flex;
      flex-direction: column;
      .columnBorder {
        display: none;
      }
    }
  }
}